<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	   xmlns:aop="http://www.springframework.org/schema/aop"
 	   xmlns:tx="http://www.springframework.org/schema/tx"
 	   xmlns:context="http://www.springframework.org/schema/context"
 	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	   http://www.springframework.org/schema/aop
 	   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
 	   http://www.springframework.org/schema/tx 
 	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
 	   http://www.springframework.org/schema/context 
 	   http://www.springframework.org/schema/context/spring-context-4.2.xsd">
 	 
 	  <!-- 开启Spring注解 -->
 	  <context:annotation-config/>
 	  <!-- 设置Spring注解扫描范围 -->
 	  <context:component-scan base-package="com.train"/>
 	 
 	  <!-- 开启自动AOP代理 -->
 	  <aop:aspectj-autoproxy/>
 	 
 	  <!-- 创建数据源(c3p0)-->
	  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
			<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
			<property name="jdbcUrl"
			value="jdbc:oracle:thin:@localhost:1521:orcl" />
			<property name="user" value="scott" />
			<property name="password" value="tiger"/>
	  </bean>
	
 	 <!-- 配置SessionFactory -->
 	 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置hibernate参数 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.fetch_size">50</prop>
			</props>
		</property>
		
		<!--扫描hbm文件[只适合注解]-->
		<property name="packagesToScan" value="com.train.entity"/>
	 </bean>
	 
	<!-- 声明一个事务 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置事务的传播特性 ，指定事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<!-- 配置详细的事务语义 -->
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 哪些类的哪些方法参与事务 -->
	<aop:config>
		<!--配置切入点，匹配指定包下所有的类的所有方法的执行 -->
		<aop:pointcut id="mycut" expression="execution(* com.train.service..*.*(..))" />
		<!-- 指定在txAdvice切入点应用txAdvice事务切面 -->
		<aop:advisor pointcut-ref="mycut" advice-ref="txAdvice" />
	</aop:config>
</beans>














